*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .link {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  .visit {
    display: inline-block;
    padding: 25px;
    margin: auto;
    border: 2px solid red;
    height: 120px;
    width: 120px;
  }
  .module
  {
    display: flex;
    justify-content: center;
  }